flask
flask-sqlalchemy
flask-login
flask-migrate
flask-wtf
flask-cors
flask-jwt-extended
pandas
numpy
mlxtend
scikit-learn
openpyxl
python-dotenv
gunicorn
psycopg2-binary
email-validator
chart-studio
matplotlib
seaborn
charset-normalizer
